* {
    font-family: "Ropa Sans", Sans-serif;
}
.secondary_text_color {
    color: #3a3594 !important;
}
.icon--xs {
    color: #3a3594 !important;
    opacity: 1 !important;
}
.btn_connect_button {
    font-family: "Ropa Sans", Sans-serif;
    font-weight: 600;
    fill: #3a3594;
    color: #3a3594 !important;
    background-color: #79c9d1;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #79c9d1;
    border-radius: 30px 30px 30px 30px;
    font-size: 0.9rem;
    padding: .8rem 1rem .8rem 1rem;
    cursor: pointer;
}
.btn_connect_button:hover {
    border-color: #79c9d1;
    background-color: transparent;
    color: #79c9d1 !important;
}
.search_fields {
    border: #3a3594 1px solid !important;
    color: #3a3594 !important;
    text-align: center !important;
    font-size: 0.9rem;
}
.thin_border_right {
    border-right: 0.5px !important;
}
.search_input::placeholder {
    color: #3a3594 !important;
    opacity: 1;
    font-size: 0.9rem;
}
.development_slider_number {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 125px;
    font-weight: 600;
    padding-left: 5rem;
    margin-top: -1.8rem;
    margin-bottom: 0px;
    line-height: normal;
}
.development_slider_title {
    color: #3a3594;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
    padding-left: 5rem;
}
.featured_developments_title {
    margin-bottom: 8px;
    color: #3a3594;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-decoration: underline;
    text-align: left;
}
.featured_developments_subtitle {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left !important;
}
.footer_input_size_custom {
    height: 2.3rem !important;
}
.footer_input {
    background-color: transparent !important;
    border: 0.7px #fff solid;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 0% !important;
}
.footer_input:focus {
    border: 1px #fff solid !important;
}
.footer_input::placeholder {
    font-weight: 600;
    color: #fff !important;
}
.icon_footer {
    color: #79c9d1 !important;
    opacity: 1 !important;
}
.accordion__title::before {
    display:none;
}
.sticky_form_input {
    background-color: transparent !important;
    border: 0.7px #fff solid;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 0% !important;
}

.indiv_input {
    background-color: transparent !important;
    border: 0.7px #cecbcb solid;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 0% !important;
}

.individual_button {
    font-family: "Ropa Sans", Sans-serif;
    font-weight: 600;
    fill: #3a3594;
    color: #3a3594 !important;
    background-color: #79c9d1;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #79c9d1;
    border-radius: 30px 30px 30px 30px;
    font-size: 0.9rem;
    cursor: pointer;
}
.individual_button:hover {
    border-color: #79c9d1;
    background-color: transparent;
    color: #79c9d1 !important;
}

.case_button {
    text-decoration: none;
    font-family: "Ropa Sans", Sans-serif;
    font-weight: 600;
    fill: #3a3594;
    color: #3a3594 !important;
    background-color: #79c9d1;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    padding: 10px;
    border-color: #79c9d1;
    border-radius: 30px 30px 30px 30px;
    font-size: 15px;
    cursor: pointer;
}
.case_button:hover {
    border-color: #79c9d1;
    background-color: transparent;
    color: #79c9d1 !important;

}.accordion_border{
    border-style: solid;
    border-width: 1px;
    border-color:#3A3594;
    margin-bottom: -21;
}
.accordion {
  background-color: white;
  color: #3A3594;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  font-weight: 400;
}
.active, .accordion:hover {
  background-color: white;
  
}
.accordion:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  text-align: center;
  background: #3A3594;
  
  
}
.active:after {
  content: "\2212";
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border:none;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
.accordion_li{
    border-style: solid;
    border-width: 1px;
    border-color:#3A3594;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #3a3594;
    height: 50px;
    line-height: 3;
    cursor: pointer;
}
.accordion_li:hover {
    background-color: #403254;
    color: #79C9D1;
}.p_hidden{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}.a_hidden{
    color: #3A3594;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}
.case_studies_p:hover {
    text-decoration: underline;
}

.our_button {
    text-decoration: none;
    font-family: "Ropa Sans", Sans-serif;
    font-weight: 600;
    fill: #3a3594;
    color: #3a3594 !important;
    background-color: #79c9d1;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    padding: 10px;
    border-color: #79c9d1;
    border-radius: 30px 30px 30px 30px;
    font-size: 15px;
    cursor: pointer;
}
.our_button:hover {
    border-color: #79c9d1;
    background-color: transparent;
    color: #79c9d1 !important;
}